{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <h1 style="font-family: Moon; margin-top: 20px; font-size: 30px">Changement de votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-index">Valider</button>
    {{ form_end(resetForm) }}
{% endblock %}
