{% extends 'base.html.twig' %}

{% block title %}Modification commentaire{% endblock %}

{% block body %}
    <a class=" btn btn-home" href="{{ path('activity_index') }}"><i
                class="fa fa-sign-out "></i> Revenir aux activités </a>
    {% if app.user.id != comment.user.id %}
        <div id="app">
            <div>403</div>
            <div class="txt">
                Vous n'avez pas la permission<span class="blink">_</span>
            </div>
        </div>
    {% else %}
        <h1 style="font-family: Moon; margin-top: 15px">Modifier votre commentaire</h1>

        {{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}



    {% endif %}
{% endblock %}
