{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    {% if app.user.id != comment.user.id %}
        <div id="app">
            <div>403</div>
            <div class="txt">
                Vous n'avez pas la permission<span class="blink">_</span>
            </div>
        </div>
    {% else %}
        <h1>Edit Comment</h1>

        {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('comment_index') }}">back to list</a>

    {% endif %}
{% endblock %}
