{% extends 'base.html.twig' %}

{% block title %}Modification commentaire{% endblock %}

{% block body %}
    <a class=" btn btn-home" href="{{ path('activity_index') }}"><i
                class="fa fa-sign-out "></i> Revenir aux activités </a>

        <h1 style="font-family: Moon; margin-top: 15px">Modifier votre commentaire</h1>
    {# Appel du template formulaire d'un commentaire#}
        {{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}




{% endblock %}
