{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire - Solitude accompagnée{% endblock %}

{% block body %}
    <a class=" btn btn-home" href="{{ path('activity_index') }}"><i
                class="fa fa-sign-out "></i> Revenir aux activités </a>
    <h1  style="font-family: Moon; margin-top: 15px">Nouveau commentaire </h1>

    {{ include('comment/_form.html.twig') }}


{% endblock %}
