<div class="card card-body-color">
    <a class="dropdown-item" href="{{ path('category_show', {'id': category.id}) }}"> <img src="{{ asset('uploads/categories/' ~ category.picture) }}" class="card-img-top"
                                                                                           alt="{{ category.label }}"></a>
    <div class="card-body ">
        <h3 class="card-title">{{ category.label }}</h3>
    </div>

</div>
