{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -
    {{ category.label }}
{% endblock %}

{% block body %}
    <main class="container">
        <h2 style="font-family:'Roboto';margin-top: 20px" >Toutes les activités dans la catégorie "{{  category.label }}" ({{ category.activities|length }} {% if category.activities|length > 1 %} résultats{% else %} résultat{% endif %})</h2>

        <section class="row projects">
            {% for activity in category.activities %}
                <div class="col-md-4">
                    {% include 'activity/_card.html.twig' with {'activity': activity} only %}
                </div>
            {% endfor %}
        </section>

    </main>

{% endblock %}
