{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -
    {{ category.label }}
{% endblock %}

{% block body %}
    <main class="container">
        <h2>{{ category.activities|length }} activité(s) dans la catégorie "{{ category.label }}"</h2>

        <section class="row projects">
            {% for activity in category.activities %}
                <div class="col-md-4">
                    {% include 'activity/_card.html.twig' with {'activity': activity} only %}
                </div>
            {% endfor %}
        </section>

    </main>

{% endblock %}
