{% extends 'base.html.twig' %}

{% block title %}Solitude Accompagnée{% endblock %}

{% block body %}
    <div class="jumbotron" style="background-color: #F5D5CB">
        <h1 class="display-4" style="font-family: Roboto">Solitude Accompagnée</h1>
        <p class="lead" style="font-family: Roboto">Partagez des beaux moments de vies avec Solitude Accompagnée !</p>
        {% if app.user %}
        <a class="btn btn-lg btn-home"  href="{{ path('activity_new') }}" role="button">
            <i class="fa fa-th-large"></i>
            Créer une nouvelle activité
        </a>
        <a class="btn btn-lg btn-home" href="#" role="button">
            <i class="fa fa-plus-circle"></i>
            Voir les activités
        </a>
        {% endif %}
    </div>


{% endblock %}
