{% extends 'base_index.html.twig' %}

{% block title %}Solitude Accompagnée{% endblock %}

{% block body %}
    <div  style="background-color: #F2E9E1; margin-top: 50px">

        <img src="{{ asset('logo_index.png') }}" width="550" height="350"
             title="Logo Solitude Accompagnée" alt="logo">

        <p class="lead text-index"> Organisez des activités facilement avec des personnes de votre ville. </p>
        <p class="lead text-index"> Ne restez pas seul, recherchez des moments de vie pour réchauffer votre quotidien. </p>
        <a class="btn btn-lg btn-index" href="{{ path('app_login') }}">Connectez-vous </a>
        <a class="btn btn-lg btn-index" href="{{ path('app_register') }}">Inscrivez-vous </a>



    </div>


{% endblock %}
