{% extends 'base.html.twig' %}

{% block title %}Modifier l'activité - Solitude Accompagnée{% endblock %}

{% block body %}
    {% if app.user.id != activity.user.id %}
        <div id="app">
            <div>403</div>
            <div class="txt">
                Vous n'avez pas la permission<span class="blink">_</span>
            </div>
        </div>
    {% else %}
    <a class=" btn btn-home" href="{{ path('user_show',{'id': app.user.id}) }}"><i
                class="fa fa-sign-out "></i>Retourner a ton profil</a>
    <h1 style="font-family: Moon; margin-top: 20px">Modifier ton activite</h1>

    {{ include('activity/_form.html.twig', {'button_label': 'Modifier'}) }}
    {% endif %}

{% endblock %}
