{% extends 'base.html.twig' %}
{% block title %}Création Activité - Solitude accompagnée{% endblock %}

{% block body %}
    <a class=" btn btn-home" href="{{ path('homepage') }}"><i
                class="fa fa-sign-out "></i> Revenir à l' accueil</a>
    <h1 class="title-style" style="font-family: Moon; margin-top: 15px">Proposer une activite</h1>

    {{ include('activity/_form.html.twig') }}
{% endblock %}

