{% extends 'base.html.twig' %}

{% block title %}Création Activité - Solitude acompagnée{% endblock %}

{% block body %}
    <h1 class="title-style">Proposer une activité</h1>

    {{ include('activity/_form.html.twig') }}
    <a  href="{{ path('homepage') }}"><i
                class="fa fa-sign-out "></i> revenir à l' accueil</a>

{% endblock %}
