<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Solitude Accompagnée{% endblock %}</title>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body style="background-color: #F2E9E1">
<main class="main-content container" >

    {% block body %}{% endblock %}
</main>

</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
