{% extends 'base.html.twig' %}

{% block title %}500{% endblock %}

{% block body %}

    <div id="app">
        <div>500</div>
        <div class="txt">
            Erreur interne<span class="blink">_</span>
        </div>
    </div>

{% endblock %}
