{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - Solitude accompagnée{% endblock %}

{% block body %}

    <div id="app">
        <div>404</div>
        <div class="txt">
            Page introuvable<span class="blink">_</span>
        </div>
    </div>

{% endblock %}
