{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
    {% else %}
        <div id="app">
            <div>403</div>
            <div class="txt">
                Vous n'avez pas la permission<span class="blink">_</span>
            </div>
        </div>
    {% endif %}
{% endblock %}
